.c-newsprev {
  padding: 12px 22px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .c-newsprev {
    max-width: calc(100% - 3.733% - 3.733%) !important;
    margin-left: 3.733% !important;
    margin-right: 3.733% !important;
  }
}