@import '../systemtheme.scss';

$m1_bgColor: $T5C1M1;

$m2_bgColor: $T5C1M2;

$m3_bgColor: $T5C1M3;

$m5_bgColor: $T5C1M5;

$m6_bgColor: $T5C1M6;

$m1_hov_bgColor: $T5C1M1;

$m2_hov_bgColor: $T5C1M2;

$m3_hov_bgColor: $T5C1M3;

$m5_hov_bgColor: $T5C1M5;

$m6_hov_bgColor: $T5C1M6;

$m1_bdColor: $T5C1M1;

$m2_bdColor: $T5C1M2;

$m3_bdColor: $T5C1M3;

$m5_bdColor: $T5C1M5;

$m6_bdColor: $T5C1M6;

$m1_hov_bdColor: $T5C1M1;

$m2_hov_bdColor: $T5C1M2;

$m3_hov_bdColor: $T5C1M3;

$m5_hov_bdColor: $T5C1M5;

$m6_hov_bdColor: $T5C1M6;

$m1_ftColor: $T5C1M1;

$m2_ftColor: $T5C1M2;

$m3_ftColor: $T5C1M3;

$m5_ftColor: $T5C1M5;

$m6_ftColor: $T5C1M6;

$m1_hov_ftColor: $T5C1M1;

$m2_hov_ftColor: $T5C1M2;

$m3_hov_ftColor: $T5C1M3;

$m5_hov_ftColor: $T5C1M5;

$m6_hov_ftColor: $T5C1M6;
