@import '../base/var_blank.scss';
.site-preview {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1099;
  .designer-header-theme {
    height: 50px;
    background: $--usual-background-header;
    .theme-center {
      text-align: center;
      i {
        display: inline-block;
        height: 100%;
        width: 50px;
        font-size: 18px;
        line-height: 50px;
        font-weight: 700;
        text-align: center;
        color: $--usual-font-color-main;
        cursor: pointer;
      }
      .active {
        color: $--usual-font-color-main;
        background: $--font-color-selected;
      }
    }

    .theme-right ul li div {
      float: right;
      width: 90px;
      height: 32px;
      margin-right: 16px;
      font-size: 14px;
      line-height: 32px;
      color: $--color-main;
      border: 1px solid $--color-main;
      text-align: center;
      cursor: pointer;
      border-radius: 2px;
    }
    .theme-right ul li:nth-child(1) div {
      margin-right: 24px;
      color: $--usual-font-color-main;
      background: $--color-main;
    }
  }
  #site-previewSpace {
    width: 100%;
    height: calc(100% - 50px);
    background: $--usual-background-content;
    text-align: center;
  }
  .pc-active {
    #site-preview {
      width: 100%;
      height: calc(100% - 50px);
    }
  }
  .phone-active {
    position: relative;
    .line {
      position: absolute;
      top: 82px;
      left: 50%;
      width: 40px;
      border-radius: 2px;
      transform: translateX(-20px);
      height: 2px;
      background: $--popup-border-color;
      z-index: 30000;
    }
    #site-preview {
      width: 323px !important;
      height: calc(100% - 162px) !important;
      min-width: 375px;
      background: $--usual-background-prev;
      width: 375px;
      max-height: 693px;
      padding: 56px 0;
      margin: 55px auto;
      border-radius: 28px;
      box-sizing: border-box;
    }
    #site-preview-qrcodeSpace {
      position: absolute;
      display: inline-block;
      width: 100px;
      height: 135px;
      vertical-align: top;
      margin: 55px 0 0 50px;
      background: $--popup-background-main;
      box-shadow: $--area-shadow-base;
      border-radius: $--border-radius-base;
      #site-preview-qrcodeimg {
        box-sizing: border-box;
        padding: 16px 10px 4px;
        img {
          width: 100%;
        }
      }
      p {
        font-size: $--font-size-small;
        color: $--popup-font-color-main;
        line-height: 30px;
      }
    }
  }
}
