* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body {
  font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  height: 100%;
}

html.site-scrollbar::-webkit-scrollbar {
  display: none;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: auto;
}

html.site-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

html.sm-design-mode.sm-image-resizing * {
  cursor: nwse-resize !important;
}

ul,
li {
  list-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none;
  border: none;
}

input,
select {
  padding: 8px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #e5e5e5;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

a {
  color: #262626;
  text-decoration: none;
}

.sm-drag {
  opacity: 0.5;
}

.sm-area-hover {
  outline: solid 2px black;
  outline-offset: -2px;
}

.c-animated {
  opacity: 0;
}

#cmv_Header,
#cmv_Footer,
#cmv_Main {

  position: relative;
  width: 100%;
  min-height: 50px;

  .desconver {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 939;
    pointer-events: auto;
    background: rgba(0, 0, 0, .4);

    .edit-btn {
      position: absolute;
      top: 14px;
      left: 14px;
      padding: 0 12px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      background: #ff6a00;
      color: #fff;
      font-size: 14px;
      border-radius: 2px;
      pointer-events: auto;
      cursor: pointer;
      box-shadow: 0 2px 4px 0 rgba(74, 72, 249, 0.2);

      i {
        margin-right: 8px;
      }

      &:hover {
        background: rgba(255, 106, 0, 1);
      }
    }

    &:hover {
      border-color: rgba(255, 249, 245, 0.4);
    }
  }
}

#cmv_Main {
  min-height: 280px;

  .desconver {
    .edit-btn {
      top: 16px;
      left: 24px;
    }
  }
}

#cmv_Main[data-type=personalcenter] {
  min-height: 560px;
}

.uneditable {
  text-align: center;
  line-height: 300px;
  font-size: 16px;
  color: #fff;
  cursor: no-drop;

  i.iconfont {
    padding-right: 10px;
  }
}

/* 排序占位图 */
.smart-placeholder {
  background: #3898ec;
  width: 0px;
  height: 0px;
  display: inline-block;
  position: absolute;
  z-index: 15;
}

.c-row {

  &::after,
  &::before {
    content: ' ';
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    clear: both;
  }
}


.c-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
}

.c-col-1 {
  width: 8.33333333%;
}

.c-col-2 {
  width: 16.66666667%;
}

.c-col-3 {
  width: 25%;
}

.c-col-4 {
  width: 33.33333333%;
}

.c-col-5 {
  width: 41.66666667%;
}

.c-col-6 {
  width: 50%;
}

.c-col-7 {
  width: 58.33333333%;
}

.c-col-8 {
  width: 66.66666667%;
}

.c-col-9 {
  width: 75%;
}

.c-col-10 {
  width: 83.33333333%;
}

.c-col-11 {
  width: 91.66666667%;
}

.c-col-12 {
  width: 100%;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
  zoom: 1;
}

// powerby
.powerby-area {
  line-height: 1.5;
  padding: 2px 0;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.powerby-area i {
  color: #ff6a00;
  vertical-align: middle;
}

.powerby-area span {
  font-size: 14px;
  vertical-align: middle;
}

@media screen and (max-width: 992px) {
  .powerby-area i {
    display: block;
  }

  .powerby-area span {
    font-size: 10px;
  }

  #cmv_Header {
    min-height: 20px;
  }
}