.c-newslist {

  .c-newslist__inner {
    width: 100%;

    .c-newslist-item {
      width: 100%;

      a {
        text-decoration: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .c-newslist-item-picture {
          overflow: hidden;
          flex: none;

          img {
            transition: all .3s ease-in-out;
          }

          &:hover {

            img {

              transform: scale(1.2);
            }
          }
        }

        .c-newslist-item-info {
          padding-left: 48px;
          line-height: 1;

          .c-newslist-item-title {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            // .c-newslist-title__inner {
            //   display: inline-block;

            // }
          }

          .c-newslist-item-desc {
            margin-top: 24px;
            margin-bottom: 26px;

            span {
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              line-clamp: 2;
            }
          }

          &.newslistCol {
            width: 100%;
            padding-left: 0;
          }
        }
      }
    }

    .c-newslist-item:first-of-type {
      padding-top: 0;
    }

  }
}

@media screen and (max-width: 992px) {
  .c-newslist {
    width: calc(100% - 3.733% - 3.733%) !important;
    margin-left: 3.733% !important;
    margin-right: 3.733% !important;
  }

  .c-newslist .c-newslist__inner .c-newslist-item {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .c-newslist .c-newslist__inner .c-newslist-item:first-of-type {
    padding-top: 0;
  }

  .c-newslist .c-newslist__inner .c-newslist-item a .c-newslist-item-info {
    padding-left: 3.733%;
  }

  .c-newslist .c-newslist__inner .c-newslist-item a .c-newslist-item-info .c-newslist-item-title {
    padding-top: 0 !important;
  }

  .c-newslist .c-newslist__inner .c-newslist-item a .c-newslist-item-info .c-newslist-item-desc {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .c-newslist .c-newslist__inner .c-newslist-item a .c-newslist-item-picture.c-col-2 {
    height: 55px !important;
  }

  .c-newslist .c-newslist__inner .c-newslist-item a .c-newslist-item-picture.c-col-3 {
    height: 80px !important;
  }

  .c-newslist .c-newslist__inner .c-newslist-item a .c-newslist-item-picture.c-col-4 {
    height: 108px !important;
  }




}