<div class="tab-header__section clearfix">
  <ul class="tab-header__container clearfix">
      <li class="tab-header__item selected" id="header_{{item.Id}}_{{_Id}}">111111</li>
      <li class="tab-header__item selected" id="header_{{item.Id}}_{{_Id}}">22222</li>
      <li class="tab-header__item selected" id="header_{{item.Id}}_{{_Id}}">33333</li>
</ul>
<div class="tab-content__section Area {{if item.Html==''}}sm-empty{{/if}} fmcontrol selected" data-title="{{item.Area}}"
id="{{item.Id}}_{{_Id}}">qqqqqqqq</div>
<div class="tab-content__section Area {{if item.Html==''}}sm-empty{{/if}} fmcontrol selected" data-title="{{item.Area}}"
id="{{item.Id}}_{{_Id}}">wwwwwwww</div>
<div class="tab-content__section Area {{if item.Html==''}}sm-empty{{/if}} fmcontrol selected" data-title="{{item.Area}}"
id="{{item.Id}}_{{_Id}}">eeeeee</div>

</div>