.c-newssummary {
  word-break: break-word;

  @media screen and (max-width: 992px) {
    & {
      max-width: calc(100% - 3.733% - 3.733%) !important;
      margin-left: 3.733% !important;
      margin-right: 3.733% !important;
    }
  }
}