// [theme1_color1]
$T1C1M1: rgba(50, 83, 250, 1);
$T1C1M2: rgba(70, 100, 250, 1);
$T1C1M3: rgba(255, 188, 22, 1);
$T1C1M4: rgba(235, 236, 237, 1);
$T1C1M5: rgba(255, 255, 255, 1);
$T1C1M6: rgba(65, 73, 78, 1);
$T1C1M7: rgba(38, 38, 38, 1);

// [theme2_color1]
$T2C1M1: rgba(255, 106, 0, 1);
$T2C1M2: rgba(255, 151, 76, 1);
$T2C1M3: rgba(0, 160, 138, 1);
$T2C1M4: rgba(235, 236, 237, 1);
$T2C1M5: rgba(255, 255, 255, 1);
$T2C1M6: rgba(78, 78, 78, 1);
$T2C1M7: rgba(38, 38, 38, 1);

// [theme3_color1]
$T3C1M1: rgba(251, 77, 104, 1);
$T3C1M2: rgba(252, 113, 134, 1);
$T3C1M3: rgba(106, 218, 64, 1);
$T3C1M4: rgba(235, 236, 237, 1);
$T3C1M5: rgba(255, 255, 255, 1);
$T3C1M6: rgba(71, 71, 71, 1);
$T3C1M7: rgba(38, 38, 38, 1);

// [theme4_color1]
$T4C1M1: rgba(99, 220, 140, 1);
$T4C1M2: rgba(130, 227, 163, 1);
$T4C1M3: rgba(255, 137, 115, 1);
$T4C1M4: rgba(235, 236, 237, 1);
$T4C1M5: rgba(255, 255, 255, 1);
$T4C1M6: rgba(71, 71, 71, 1);
$T4C1M7: rgba(38, 38, 38, 1);

// [theme5_color1]
$T5C1M1: rgba(0, 193, 222, 1);
$T5C1M2: rgba(50, 205, 228, 1);
$T5C1M3: rgba(255, 122, 0, 1);
$T5C1M4: rgba(235, 236, 237, 1);
$T5C1M5: rgba(255, 255, 255, 1);
$T5C1M6: rgba(65, 73, 78, 1);
$T5C1M7: rgba(38, 38, 38, 1);